:root {
  --base: red;
  --spacing: 10px;
  --blur: 10px;
}

img {
  padding: var(--spacing);
  background: var(--base);
  filter: blur(var(--blur));
  width: 800px;
  height: auto;
}

.highlight {
  color: var(--base);
}

body {
  text-align: center;
  background: #3f1949;
  color: white;
  font-size: 50px;
}

.controls {
  margin-bottom: 50px;
}

input {
  width: 100px;
}
