@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'Playfair Display', serif;
  font-size: 32px;
}

h1 {
  text-align: center;
  font-size: 4rem;
}

p {
  font-size: 2rem;
}

h1,
p {
  text-align: center;
}

.button {
  display: inline-block;
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.button:hover {
  background-color: #358637;
}

#keys {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.key {
  border: .4rem solid rgb(25, 0, 83);
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
}

.playing {
  transform: scale(1.1);
  border-color: cyan;
  box-shadow: 0.2em 0.2em 1em navy;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
}
